* {
    font:		"Noto Sans 9";
    background:     	#282828FF;
    background-alt: 	#1d2021FF;
    foreground:     	#d4be98FF;
    blue:       	#7DAEA3FF;
    orange:             #D8A657FF;
    green:         	#A9B665FF;
    red:         	#EA6962FF;
    aqua:		#89b482FF;
}
